{% extends "layout.html" %}

{% block content %}
    <div class="container">

    <div class="row">
        <div class"col-md-12">
        <h2>LEDs On/Off Control</h2>
        <h3>Python/Flask/GPIO</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-sm">
    {% for led, state in d.items() %}
    <tr><td><p class="text-right">
            LED {{led}} state</p></td>
        <td><p class="text-left">
        {% if state %} 
            <button type="button" class="btn btn-success"></button>
        {% else %}
            <button type="button" class="btn btn-danger"></button>
        {% endif %}
            </p> 
        </td>
        <td><p class="text-center">
        <a href="{{ url_for('ledon',led_pin=led ) }}" class="btn btn-primary">On</a>
        <a href="{{ url_for('ledoff',led_pin=led) }}" class="btn btn-secondary">Off</a>
            </p> </td>
                </tr>
    {% endfor %}
    </table>
        </div>
        <div class="col-md-6">
            <a href="{{ url_for('switch')  }}" class="btn btn-warning">switch</a>
            <a href="{{ url_for('all',state='off') }}" class="btn btn-danger">All Off</a>

            <a href="{{ url_for('all',state='on') }}" class="btn btn-primary">All On</a>

    </div>
{% endblock %}

{% block footer %}
<div class="container">
    <div class="well"><p class="text-center">&copy; Chris Hawkins 2018{</p></div>
</div>
{% endblock %}
